# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and virtual environment files
.env
venv/
env/
*.env

# IDE or editor-specific files
.vscode/
.idea/
*.sublime-*

# Dependency management
pip-log.txt
pip-delete-this-directory.txt
